# General use .gitignore for Minecraft modding.

# Directories
/.gradle/
/build/
/eclipse/
/run/
/out/
/asm/
/bin/
/.idea/
/.metadata/
/.settings/

# File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.class
*.txt

# Specific files
Thumbs.db
.DS_store